<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
  <appSettings>
    <add key="MainEndPoint" value="https://arvitalqa.vtexcommercestable.com.br/"/>
    <add key="GetBrandsApiStr" value="api/catalog_system/pvt/brand/list"/>
    <add key="GetCatTreeApiStr" value="api/catalog_system/pub/category/tree/"/>
    <add key="GetCategoryApiStr" value="api/catalog/pvt/category/"/>
    <add key="UpdateCategoryApiStr" value="api/catalog/pvt/category/"/>
    <add key="CreateCategoryApiStr" value="api/catalog/pvt/category/"/>    
    <add key="VTexMainApiAppKey" value="vtexappkey-arvitalqa-FMOQTV"/>
    <add key="VTexMainApiAppPassword" value="AMOHYRRKEIUJSHVZAWOCOXZFDMSTTICRJIEQLNBNRLQSOXUZJFLZEIIDNIELZXRWFDZJCFOMVALCGGQFRSJNXCMBZBCCJPNUUUNLXKWERZEDXGWGSYTHNDZCQYKBCMCF"/>
    <add key="AltasAppApiStr" value="intapp.PKG_USERS_API.AltasAppApi"/>
  </appSettings>
</configuration>
